{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/slick/slick-theme.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{{ company_detail.logo.url }}"/>
    {% block css %}

    {% endblock %}


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<section id="main-navigation" class="pb-5 mb-5">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                {% if company_detail.logo %}
                    <img src="{{ company_detail.logo|thumbnail_url:'64-64' }}" alt="{{ company_detail.name }}"
                         width="64" height="64"
                         class="text-white">
                {% else %}
                    <img src="{% static 'assets/images/default/lipipoint.png' %}" alt="lipipoint" width="64" height="64"
                         class="text-white">
                {% endif %}
                {{ company_detail.name|default:'lipipoint' }}
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'company:about' company_detail.slug %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product:products' %}">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/#contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/company/clients/">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#our-team">Our Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<div class="container-wrapper">


    {% block content %}

    {% endblock %}



    <!-- Contact us section-->
    <section id="contact-us" class="bg-grey-300">
        {% include '__contact_us.html' %}
    </section>
    <!-- End  contact Section-->


    <!--footer-->
    <section id="footer" class="bg-black">
        {% include '__footer.html' %}
    </section>
    <!-- end footer section -->
</div>
<script src="{% static 'assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/tether/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
{% block javascript %}
    <script type="text/javascript" src="{% static 'assets/slick/slick.min.js' %}"></script>
{% endblock %}
</body>
</html>