{% extends '__base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "assets/light-slider/css/lightslider.css" %}"/>
    <style>
        .product-image {
            width: 100%;
        }

        {#        #lightSlider ul {#}
        {#            list-style: none outside none;#}
        {#            padding-left: 0;#}
        {#            margin-bottom: 0;#}
        {#        }#}

        {#        #lightSlider li {#}
        {#            display: block;#}
        {#            float: left;#}
        {#            margin-right: 6px;#}
        {#            cursor: pointer;#}
        {#        }#}

        #lightSlider img {
            display: block;
            height: auto;
            max-width: 100%;
        }

        .nav-tabs a {
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- products Section -->
    <section id="product-detail">
        <h1 class="text-center text-white bg-black py-4 my-5">{{ product.name }}
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="product-image">
                        <ul id="lightSlider">
                            <li data-thumb="{{ product.featured_image.url }}">
                                <img src="{{ product.featured_image.url }}"/>
                            </li>
                            {% if product.images.all %}
                                {% for image in product.images.all %}
                                    <li data-thumb="{{ product.image.url }}">
                                        <img src="{{ product.image.url }}"/>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <h1>{{ product.name }}</h1>
                    <table class="table table-striped">
                        {% if product.brand %}
                            <tr>
                                <td>Brand:</td>
                                <td>{{ product.brand }}</td>
                            </tr>
                        {% endif %}
                        {% if product.categories.all %}
                            <tr>
                                <td>
                                    Categories:
                                </td>
                                <td>
                                    {% for category in product.categories.all %}
                                        <a href="{{ category.get_absolute_url }}">{{ category.title }} </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Call For pricing:</td>
                            <td>{{ company_detail.phone1 }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12 py-3">
                    <div class="bg-grey-300">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#description"
                                   role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#specification" role="tab">Specification</a>
                            </li>

                        </ul>

                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content bg-shades">
                        <div class="tab-pane active p-3" id="description" role="tabpanel">
                            {% if product.description %}

                                {{ product.description|safe }}
                            {% else %}
                                <p class="alert alert-info"> There are no descriptions for this product!! </p>
                            {% endif %}
                        </div>
                        <div class="tab-pane p-3" id="specification" role="tabpanel">
                            {% if product.specification %}
                                {{ product.specification|safe }}
                            {% else %}
                                <p class="alert alert-info"> There are no specifications for this product!! </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End products Section -->
{% endblock %}


{% block javascript %}
    <script src="{% static "assets/light-slider/js/lightslider.js" %}"></script>
    <script>
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            auto: true,
            speed: 500,
            keyPress: true,
            thumbItem: 9,
            prevHtml: '<span class="fa fa-chevron-left fa-3x text-white"></span>',
            nextHtml: '<span class="fa fa-chevron-right fa-3x text-white"></span>'
        });
    </script>
{% endblock %}

