{% extends '__base.html' %}

{% load thumbnail %}
{% block title %}
    all products at {{ company_detail.name }}
{% endblock %}


{% block content %}
    <!-- products Section -->
    <section id="products">
        <h1 class="text-center text-white bg-black py-2">Products</h1>
        <div class="container">
            <div class="container">
                <nav class="breadcrumb p-1 bg-white">
                    <a class="breadcrumb-item" href="/#home"> <i class="fa fa-home green"></i> home </a>
                    <a class="breadcrumb-item" href="{% url 'product:products' %}">products</a>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 p-0 m-0">
                    <div class="card p-0 m-0">
                        <div class="card-header">
                            Category
                        </div>
                        <ul class="list-group border-0">
                            <li class="list-group-item">
                                <a href="?">All</a>
                            </li>
                            {% for category in categories %}
                                <li class="list-group-item {% if request.GET.category == category.title %}active{% endif %}">
                                    <a href="?category={{ category.title }}">{{ category.title }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="card p-0 my-3">
                        <div class="card-header">
                            Brand
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="?brand=">All</a>
                            </li>
                            {% for brand in brands %}
                                <li class="list-group-item {% if request.GET.brand == brand %}active{% endif %}">
                                    <a href="?brand={{ brand }}">{{ brand }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {% if products %}
                            {% for product in filter.qs %}
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="card-img-top"
                                                 src="{{ product.featured_image|thumbnail_url:'product_list' }}"
                                                 alt="{{ product.name }}" width="256" height="180">
                                        </a>
                                        <div class="card-footer bg-white text-center p-0">
                                            <h1 class="h5 strong p-1">
                                                <a href="{{ product.get_absolute_url }}">
                                                    {{ product.name }}
                                                </a>
                                            </h1>
                                            <hr class="px-3 mx-3 my-0">
                                            {% if product.categories.all %}
                                                {% for category in product.categories.all %}
                                                    <span class="">
                                                        <a href="?category={{ category.title }}">{{ category }}</a>
                                                    </span>
                                                {% endfor %}


                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End products Section -->
{% endblock %}
