.bg-white {
    background: white;
}

.border-bottom {
    border-bottom: 1px solid;
}

.bg-black {
    background: black;
}
.bg-blue-grey{
    background: #424242;
}

.bg-twitter {
    background: #00aced;
}

.bg-facebook {
    background: white;
}

.bg-google-plus {
    background: #dd4b39;
}

.bg-twitter {
    background: #00aced;
}


.no-display{
    display: none;
}
